/* @media (min-width: 769px) { */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F0FF;
}

/* ARTICLE SECTION */

.article-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 10%;
}

.article {
    flex: 1;
}

.article h3 {
    font-size: 3em;
    padding-right: 30%;
    margin-bottom: 5%;
}

.article p {
    font-size: 1em;
    margin-bottom: 2%;
    padding-right: 30%;
}

.article button {
    font-size: 1em;
    background-color: #007bff;
}

/*
.article-images {
    display: flex;
    flex-direction: column;
}

.article-images img {
    max-width: 100%;
    height: auto;
} */

.article-images {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

/* STILI PER LE IMMAGINI */
.article-images img {
    max-width: 80%;
    height: auto;
    margin-top: -20%;
    position: relative;
    z-index: 1;
}

#img1 img {
    margin-top: 0;
    z-index: 2;
}





/* PICTURES SECTION */

.pictures {
    margin-top: 5%;
    text-align: center;
}

#pictures-subtitle {
    font-size: 2em;
    margin-top: 30%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
}

#pic-subtitle {
    background: linear-gradient(to right, #FF52AF, #9F53FF);
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

.pictures1 {
    display: flex;
    justify-content: space-around;
    margin: 2% 10%;
    width: 80%;
    height: auto;
}

.pictures2 {
    display: flex;
    justify-content: space-between;
    margin: 0% 10%;
    width: 80%;
    height: auto;
}

.pictures img {
    max-width: 100%;
    height: auto;
}

/* SUBSCRIBE SECTION */

.subscribe {
    background: linear-gradient(to right, #FF52AF, #9F53FF);
    border-radius: 5%;
    color: white;
    text-align: center;
    padding: 2%;
    margin: 5% 12%;
}

#subscribe-subtitle {
    font-size: 2.5em;
    font-weight: normal;
}

#subscribe-paragraph {
    padding: 0% 10%;
    margin-bottom: 4%;
}

#subscribe-button {
    display: flex;
    /* Usa Flexbox per disporre gli elementi in linea */
    align-items: center;
    /* Allinea verticalmente gli elementi al centro */
    background-color: #fff;
    /* Colore di sfondo bianco */
    padding: 20px;
    /* Spazio interno al contenitore */
    border-radius: 8px;
    /* Angoli arrotondati del contenitore */
    margin: 0 auto;
    /* Centra il contenitore orizzontalmente */
    max-width: 500px;
    /* Limita la larghezza massima del contenitore */
}

#subscribe-button p {
    margin: 0 20px 0 0;
    /* Spazio a destra del testo del pulsante */
    color: #333;
    /* Colore del testo del pulsante */
}

#subscribe-button button {
    background-color: #007bff;
    /* Colore di sfondo del pulsante */
    color: #fff;
}






/* FOOTER */

footer {
    background-color: #14092A;
    padding-left: 10%;
    padding-right: 10%;
}

#footer-subtitle {
    background: linear-gradient(to right, #FF52AF, #9F53FF);
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* CSS per l' applicazione del colore al subtile */


    text-align: left;
    margin-right: 40%;
    font-size: 1.5rem;
    font-weight: normal;
}

#footer-text {
    margin-right: 40%;
}

.footer-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;

}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10%;
    row-gap: 40%;
}

.grid-item {
    color: white;
    text-align: left;
    font-size: 1.2rem;
}

.grid-item-text {
    color: #A197B4;
    text-align: left;
}

#footer-hr {
    margin-bottom: 5%;
    margin-top: 7%;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    padding-bottom: 5%;
}

.footer-social {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social li {
    margin: 0 10px;
}

.footer-2 p {
    margin: 0;
    color: #A197B4;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #14092A;
    }

    #pictures-subtitle {
        color: #d1c0f1;
    }

    .article {
        color: #d1c0f1;
    }
}

}