@media (min-width: 769px) {

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #F5F0FF;
    }

    main {
        margin: 0 10%;
    }

    /* ARTICLE SECTION */

    .article-section {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .article {
        flex: 1;
    }

    .article h3 {
        font-size: 3em;
        padding-right: 30%;
        margin-bottom: 5%;
    }

    .article p {
        font-size: 1em;
        margin-bottom: 2%;
        padding-right: 30%;
    }

    .article button {
        font-size: 1em;
        background-color: #007bff;
    }

    #button {
        background: linear-gradient(to right, #FF52AF, #9F53FF);
        color: #fff;
        border-radius: 20px;
        padding: 2% 10%;
        margin-top: 5%;
    }


    /* THIS IS JUST a reminder */

    /*
.article-images {
    display: flex;
    flex-direction: column;
}

.article-images img {
    max-width: 100%;
    height: auto;
} */

    .article-images {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }

    .article-images img {
        max-width: 80%;
        height: auto;
        margin-top: -20%;
        position: relative;
        z-index: 1;
    }

    #img1 img {
        margin-top: 0;
        z-index: 2;
    }

    #button-1 {
        background: linear-gradient(to right, #FF52AF, #9F53FF);
        color: #fff;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    /* PICTURES SECTION */

    .pictures {
        margin-top: 15%;
        text-align: center;
    }

    #pictures-subtitle {
        font-size: 3em;
        text-align: center;
        font-weight: normal;
        padding: 10% 15%;
    }

    #pic-subtitle {
        background: linear-gradient(to right, #FF52AF, #9F53FF);
        font-weight: bold;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 3rem;
        font-weight: normal;
        text-align: center;
    }

    /* PART 1 */

    .pictures1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pictures1-images {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .pictures1-images img {
        max-width: 100%;
        height: auto;
    }

    /* PART 2 */

    .pictures2 {
        display: flex;
        justify-content: space-around;
        margin-top: 2%;
    }

    /* SUBSCRIBE SECTION */

    .subscribe {
        background: linear-gradient(to right, #FF52AF, #9F53FF);
        border-radius: 20px;
        color: white;
        text-align: center;
        padding: 2%;
        margin: 10% 10%;
    }

    #subscribe-subtitle {
        font-size: 2.5em;
        font-weight: normal;
    }

    #subscribe-paragraph {
        padding: 0% 10%;
        margin-bottom: 4%;
    }

    #subscribe-button {
        display: inline-flex;
        align-items: center;
        background-color: #fff;
        border-radius: 20px;
        margin: 0 0;
        max-width: 500px;
        margin-bottom: 3%;
        width: 40%;
        padding: 1% 2%;
    }

    #subscribe-button p {
        margin: 0 20px 0 0;
        color: #333;
    }

    #subscribe-button button {
        background: linear-gradient(to right, #FF52AF, #9F53FF);
        color: #fff;
        border-radius: 20px;
        vertical-align: middle;
        margin: 1% 1%;
        padding: 3% 6%;
    }

    /* FOOTER SECTION */

    footer {
        background-color: #14092A;
        padding-left: 10%;
        padding-right: 10%;
    }

    #footer-subtitle {
        background: linear-gradient(to right, #FF52AF, #9F53FF);
        font-weight: bold;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        /* CSS per l' applicazione del colore DIVERSIFICATO al subtile */


        text-align: left;
        margin-right: 40%;
        font-size: 1.5rem;
        font-weight: normal;
    }

    #footer-text {
        margin-right: 40%;
    }

    .footer-1 {
        display: flex;
        justify-content: space-between;
        padding-top: 5%;

    }

    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 10%;
        row-gap: 40%;
    }

    .grid-item {
        color: white;
        text-align: left;
        font-size: 1.2rem;
    }

    .grid-item-text {
        color: #A197B4;
        text-align: left;
    }

    #footer-hr {
        margin-bottom: 5%;
        margin-top: 7%;
    }

    .footer-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
        padding-bottom: 5%;
    }

    .footer-social {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .footer-social li {
        margin: 0 10px;
    }

    .footer-2 p {
        margin: 0;
        color: #A197B4;
    }

    @media (prefers-color-scheme: dark) {
        body {
            background-color: #14092A;
        }

        #pictures-subtitle {
            color: #d1c0f1;
        }

        .article {
            color: #d1c0f1;
        }
    }
}