@media (max-width: 768px) {

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #F5F0FF;
    }

    main {
        margin: 0 2%;
    }

    /*DARK MODE */

    /*@media (prefers-color-scheme: dark) {
        body {
            background-color: #14092A;
        }

        #pictures-subtitle {
            color: #d1c0f1;
        }

        .article {
            color: #d1c0f1;
        }
    } */

    /* ARTICLE SECTION */

    .article-section {
        display: block;
        text-align: center;
    }

    .article h3 {
        font-size: 2em;
        margin-bottom: 5%;
    }

    .article p {
        font-size: 1em;
        margin-bottom: 2%;
    }

    .article button {
        font-size: 1em;
        background-color: #007bff;
    }

    #button {
        background: linear-gradient(to right, #FF52AF, #9F53FF);
        color: #fff;
        border-radius: 20px;
        padding: 3% 3%;
        margin-top: 5%;
    }

    /* article images section */

    .article-images {
        display: none;
    }

    /* PICTURES SECTION */

    .pictures1 {
        display: none;
    }

    .pictures2 {
        display: none;
    }

    /* SUBSCRIBE SECTION */

    .subscribe {
        background: linear-gradient(to right, #FF52AF, #9F53FF);
        border-radius: 20px;
        color: white;
        text-align: center;
        padding: 2% 2%;
    }

    #subscribe-subtitle {
        font-size: 1.5em;
        font-weight: normal;
    }

    #subscribe-paragraph {
        margin-bottom: 3%;
    }

    #subscribe-button {
        display: inline-flex;
        align-items: center;
        background-color: #fff;
        border-radius: 20px;
        margin: 0 auto;
        max-width: 500px;
        margin-bottom: 3%;
        width: 80%;
        padding: 1% 2%;
    }

    #subscribe-button p {
        margin: 0 10px 0 0;
        color: #333;
    }

    #subscribe-button button {
        background: linear-gradient(to right, #FF52AF, #9F53FF);
        color: #fff;
        border-radius: 20px;
        vertical-align: middle;
        margin: 1% 1%;
        padding: 3% 6%;
    }

    /* FOOTER SECTION */

    footer {
        background-color: #14092A;
        color: #A197B4;
    }

    #footer-subtitle {
        background: linear-gradient(to right, #FF52AF, #9F53FF);
        font-weight: bold;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        /* CSS per l' applicazione del colore DIVERSIFICATO al subtile */

        font-size: 1.5rem;
        font-weight: normal;
    }

    .footer-1 {
        flex-direction: column;
        align-items: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        /* Una colonna per mobile */
        grid-template-rows: repeat(8, auto);
        /* Otto righe per gli elementi della griglia */
        gap: 10px;
    }

    .grid-item,
    .grid-item-text {
        text-align: center;
        font-size: 1rem;
        /* Riduce la dimensione del font per dispositivi mobili */
    }

    #footer-subtitle {
        font-size: 1.2rem;
        /* Riduce la dimensione del font del sottotitolo per dispositivi mobili */
        text-align: center;
    }

    #footer-text {
        text-align: center;
    }

    .footer-2 {
        flex-direction: column;
        align-items: center;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-bottom: 10px;
    }

    .footer-social li {
        margin: 0 5px;
    }

    .footer-2 p {
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
    }


}